@use "../../styles/utils.scss" as *;

.SettingsPage {
  display: flex;
  justify-content: center;

  .content {
    width: 600px;
    max-width: 100%;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 6rem;

    @include mobile {
      margin-top: 0;
    }

    section {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .sectionTitle {
        font-size: 2rem;
      }

      .sectionSubtitle {
        font-size: 1.5rem;
      }

      .row {
        display: flex;
        flex-direction: column;
      }

      .status {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        svg {
          height: 1.5rem;
          width: auto;
        }
      }
    }

    .logOutButton {
      align-self: flex-end;
    }
  }
}

.OllamaSettings {
  .models {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .modelCard {
      flex-direction: row;
      justify-content: space-between;

      &.ghost {
        pointer-events: none;
        opacity: 0.65;
      }

      .menuButton {
        color: var(--gray-8);
      }

      .modelTag {
        color: var(--gray-9);
      }
  
      .modelSize {
        margin-left: 0.75rem;
        color: var(--gray-9);
      }
    }
  }
}
