@use "../../styles/utils.scss" as *;

.ChatCard {
  gap: 0.25rem;
  padding: 0.5rem 1rem !important;
  background: white;

  &.ghost {
    pointer-events: none;
    opacity: 0.65;
  }

  .titleWrapper {
    display: flex;
    gap: 1rem;
    align-items: baseline;

    .title {
      font-size: 1.25rem;
      flex-grow: 1;
      text-underline-offset: 6px;

      @include hover {
        text-decoration: underline 2px;
      }
    }

    .menuButton {
      color: var(--gray-8);
    }
  }

  .message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--gray-11);
  }

  .datetime {
    align-self: flex-end;
    color: var(--gray-8);
    font-size: 0.875rem;
  }
}
