@use "../../styles/utils.scss" as *;

.RootPage {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.ChatLayout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  max-height: 100%;

  .chat {
    flex: 1;
    border: 1px solid var(--gray-4);
    background: var(--gray-2);
    padding: 0.25rem;
    border-radius: 0.25rem;
    overflow: hidden;
  }

  .messageArea {
    display: grid;
    grid-template-columns: 1fr minmax(0, 800px) 1fr;
    gap: 0.5rem;

    @include mobile {
      grid-template-columns: 1fr;
    }



    .contentWrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      grid-column: 2/2;

      @include mobile {
        grid-column: 1/1;
      }

      .secondaryActions {
        display: flex;
        gap: 0.5rem;
        justify-content: flex-start;
      }

      .textareaWrapper {
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;

        .textarea {
          flex-grow: 1;
          resize: none;
          padding: 0.6rem;
        }
      }

      .sendButton {
        @include mobile {
          svg {
            width: auto;
            height: 1.20rem !important;
          }
        }
      }
    }
  }
}

.startMenuWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
}

.startMenu {
  margin: auto;
  min-width: min(27rem, 100%);
  width: 100%;
  max-width: min(45rem, 100%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;

    .sectionTitle {
      font-size: 1.5rem;
    }

    .personasList {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.5rem;

      @include mobile {
        grid-template-columns: 1fr 1fr;
      }

      .personaButton {
        padding: 0.75rem 1rem !important;
      }

      .personaCard {
        flex-grow: 1;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;

        .avatar {
          font-size: 1.35rem;
        }

        .name {
          font-size: 1rem;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    .settingsCard {
      background: white;
      gap: 1rem;
    }

    .chatsList {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .chatCard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        border: 1px solid var(--gray-4);
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        transition: 0.1s ease-in-out;

        @include hover {
          background: var(--gray-1);
        }
      }
    }
  }
}
