# This is example env file for usage with Docker. For local setup see readme

# This is password needed to get access to the app
MAKYO_API_TOKEN=testtoken
# Change this only if Ollama runs on other machine than Makyo container (or remove if you don't use Ollama)
MAKYO_OLLAMA_HOST=http://host.docker.internal:11434
# If instead, you'd like to proxy requests to local Ollama through browser, change this to true and remove previous line
VITE_MAKYO_OLLAMA_USE_LOCAL_PROXY=false
MAKYO_OPENAI_KEY=
MAKYO_ANTHROPIC_KEY=
MAKYO_DATA_FOLDER=./makyo
