.Markdown {
  ul,
  ol {
    li {
      margin-left: 1.25rem;
    }
  }

  code {
    padding: 0.125rem 0.25rem;
    background: var(--jade-2);
    color: var(--jade-11);
    font-weight: 500;
  }

  pre:has(code) {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background: var(--jade-2);
    color: var(--jade-11);
    font-weight: 500;

    code {
      background: unset;
      color: unset;
      font-weight: inherit;
    }
  }
}
