@use "../../styles/utils.scss" as *;

.ChatPage {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  max-width: 100%;

  .layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    max-height: 100%;

    .header {
      display: flex;
      justify-content: space-between;

      .title {
        display: flex;
        align-items: center;
        text-align: center;
      }

      .rightActions,
      .leftActions {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }
    }

    .chat {
      flex: 1;
      border: 1px solid var(--gray-4);
      background: var(--gray-2);
      padding: 0.25rem;
      border-radius: 0.25rem;
      overflow: hidden;
    }
  }
}

.titleWrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 2rem;
  position: relative;


  @include hover {
    .editButton {
      visibility: visible;
    }
  }

  .editButton {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .titleInput {
    padding: 0.25rem 0.5rem;
    width: 300px;
  }
}

.settingsCard {
  width: 400px;
}


.MessagesHistory {
  max-height: 100%;



  .messagesWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: fit-content;
    margin: 0 auto;
    overflow-anchor: none;
    padding: 2rem;

    @include mobile {
      padding: 1rem 0.25rem;
    }
  }

  .personaAvatar {}
}

.messageNode {
  pointer-events: all !important;
  user-select: text !important;
  cursor: auto !important;
}

.nodeHandle {
  opacity: 0;
}
