.LocalToast {
  box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 1px 1px;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.35rem;
  min-width: 200px;
  max-width: 400px;

  display: flex;
  align-items: center;
  gap: 0.75rem;

  transition: var(--transition-duration) cubic-bezier(0.65, 0, 0.35, 1);

  svg {
    width: 1.5rem;
    height: auto;
    flex-shrink: 0;
  }

  &.info {
    svg {
      color: var(--blue-10);
    }
  }

  &.success {
    svg {
      color: var(--jade-10);
    }
  }

  &.error {
    svg {
      color: var(--tomato-10);
    }
  }

  &.confirm {
    svg {
      color: var(--jade-10);
    }

    &.destructive {
      svg {
        color: var(--tomato-10);
      }
    }
  }


  &.top, &.bottom {
    opacity: 0;
    transform: translateX(-10%) translateY(0);
  }

  &.left, &.right {
    opacity: 0;
    transform: translateX(0) translateY(-10%);
  }

  &.entering, &.entered {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  &.exiting {
    &.top, &.bottom {
      opacity: 0;
      transform: translateX(10%) translateY(0);
    }

    &.left, &.right {
      opacity: 0;
      transform: translateX(0) translateY(10%);
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
  }
}

.wrapper {
  padding: 0.2rem;
}
