.Card {
  border: 1px solid var(--gray-4);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;

  --scrollbar-size: 14px !important;

  &.flexGrow {
    flex-grow: 1;
  }

  &.small {
    padding: 0.25rem 0.5rem;
  }

  &.medium {
    padding: 0.75rem;
  }

  .scrollbar {
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
