@use "../../styles/utils.scss" as *;

.Layout {
  display: flex;
  height: 100%;
  max-height: 100%;
  padding: 1rem;
  gap: 1rem;

  @include mobile {
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .navigationWrapper {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include mobile {
      gap: 0.5rem;
      flex-direction: row;
    }
  }

  .content {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    overflow: hidden;
  }
}

.item {
  text-decoration: none;
  text-align: left;

  svg {
    width: 1.4rem !important;
  }
}

.logoCard {
  aspect-ratio: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;

  @include mobile {
    width: auto;
    height: 100%;
  }

  .logo {
    margin: 0.25rem;
    -webkit-user-drag: none;

    @include mobile {
      width: auto;
      height: 100%;
    }
  }

  .dot {
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 999px;

    &.connected {
      // background: #0aa94f;
      display: none;
    }

    &.connecting {
      background: #f59021;
    }

    &.disconnected {
      background: rgb(209, 1, 1);
    }
  }
}

.active {
  --color-btn-background: var(--gray-2) !important;

  svg {
    color: var(--jade-11) !important;
  }
}

.spacer {
  flex-grow: 1;
}

.card {
  padding: 0.25rem !important;
  overflow: hidden !important;

  @include mobile {
    flex-direction: row !important;
  }
}

.mainCard {
  flex-grow: 1;
}
