.Link {
  color: inherit;
  text-decoration: none;
  z-index: 0;

  &.withUnderline {
    position: relative;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--green-7);
    text-underline-offset: 2px;
    transition: 0.2s ease-in-out;

    &:hover {
      text-decoration-color: var(--green-9);
    }
  }
}
