@use "../../styles/utils.scss" as *;

.item {
  text-decoration: none;
  text-align: left;

  svg {
    width: 1.4rem !important;
  }
}

.logo {
  padding: 0.5rem;
  -webkit-user-drag: none;

  @include mobile {
    width: auto;
    height: 100%;
  }
}

.active {
  --color-btn-background: var(--gray-2) !important;

  svg {
    color: var(--jade-11) !important;
  }
}

.spacer {
  flex-grow: 1;
}

.card {
  padding: 0.25rem !important;

  @include mobile {
    flex-direction: row !important;
  }
}

.mainCard {
  flex-grow: 1;
}
