@use "../../styles/utils.scss" as *;

.TopNav {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100%;

  @include mobile {
    flex-direction: row;
  }

  .item {
    text-decoration: none;
    text-align: left;

    svg {
      width: 1.4rem !important;
    }
  }

  .logo {
    padding: 0.5rem;
    -webkit-user-drag: none;
  }

  .active {
    --color-btn-background: var(--gray-2) !important;

    svg {
      color: var(--jade-11) !important;
    }
  }

  .spacer {
    flex-grow: 1;
  }
}
