.MessageBubble {
  background: white;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  line-height: 1.65;
  max-width: 90%;

  &.user {
    align-self: flex-end;
  }

  &.ai {
    align-self: flex-start;
  }

  .senderName {
    font-weight: 600;
  }

  .loader {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
  }

  .content {
    margin-top: 0.5rem;
  }

  .actionsWrapper {
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 0.75rem;
    color: var(--gray-10);
    line-height: 1;

    .variants {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    .spacer {
      flex-grow: 1;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 0.5rem;

    }

    button {
      color: var(--gray-10);
      padding: 0.125rem;
    }
  }




  p,
  ul,
  ol {
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  ul,
  ol {
    li {
      margin-left: 1.25rem;
    }
  }

  pre>code {
    border-radius: 0.35rem;
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: #1a1b26;
    color: #9aa5ce;
  }
}
