.MessageBubble {
  background: white;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  line-height: 1.65;
  width: min(650px, 85vw);

  &.user {
    align-self: flex-end;
  }

  &.ai {
    align-self: flex-start;
  }

  .senderName {
    font-weight: 600;
    display: flex;
    gap: 0.35rem;
    align-items: center;

    svg {
      max-width: 1rem;
      max-height: 1rem;
      width: auto;
      height: auto;
      margin-left: 0.2rem;
    }
  }

  .loader {
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
  }

  .errorAlert {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background: var(--tomato-3);
    color: var(--tomato-11);
    border: 1px solid var(--tomato-8);
    margin-top: 0.5rem;
  }

  .content {
    margin-top: 0.5rem;
  }

  .editTextarea {
    resize: none;
    width: 100%;
  }

  .editingActions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.75rem;

    .messageTextarea {
      padding: 0.15rem 0.35rem;
      resize: vertical;
      min-height: 1.5rem;

      &:focus-visible {
        border-color: var(--jade-5);
        box-shadow: 0px 0px 0px 1px var(--jade-5);
      }
    }

    .footerActions {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .actions {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        button {
          color: var(--gray-10);
          padding: 0.125rem;

          &:disabled {
            color: var(--gray-8);
          }
        }
      }
    }
  }
}
