.ChatLayout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  max-height: 100%;

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
    }

    .rightActions, .leftActions {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .chat {
    flex: 1;
    overflow: auto;
    border: 1px solid var(--gray-4);
    background: var(--gray-2);
    padding: 0.25rem;
    border-radius: 0.25rem;
    overflow: hidden;
  }


  .messageArea {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .textarea {
      flex-grow: 1;
      resize: none;
    }

    .messageActions {
      display: flex;
      gap: 0.5rem;
      justify-content: flex-end;
    }

    .secondaryActions {
      display: flex;
      gap: 0.5rem;
      justify-content: flex-start;
    }
  }
}
