@use "../../styles/utils.scss" as *;

.ChatsPage {
  padding: 2px;

  .content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .title {
    font-size: 2rem;
    margin-top: 6rem;

    @include mobile {
      margin-top: 0;
    }
  }

  .search {
    flex-grow: 0;
  }
}
