@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url(/fonts/SourceCodePro-VariableFont_wght.woff2) format('woff2-variations');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url(/fonts/SourceCodePro-Italic-VariableFont_wght.woff2) format('woff2-variations');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/WorkSans-VariableFont_wght.woff2) format('woff2-variations');
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/WorkSans-Italic-VariableFont_wght.woff2) format('woff2-variations');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Mulish.woff2) format('woff2-variations');
}

@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Mulish-Italic.woff2) format('woff2-variations');
}
